<h1><%= @resource.title %></h1>

<ul class="nav nav-underline mb-4">
  <li class="nav-item">
    <%= link_to "Overview", team_path(@resource), class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to "Members", team_memberships_path(@resource), class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to "Settings", edit_team_path(@resource), class: "nav-link active" %>
  </li>
</ul>

<%= render Teams::FormComponent.new(resource: @resource) %>

