<p style="color: green"><%= notice %></p>

<%= render Teams::TeamComponent.new(resource: @resource) %>

<div>
  <%= link_to "Edit this team", edit_team_path(@resource) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @resource, method: :delete %>
</div>
