<!DOCTYPE html>
<html>
  <head>
    <%= 
      render Layout::MetaTagsComponent.new(
        title: yield(:meta_title).presence,
        description: yield(:meta_description).presence, 
        keywords: yield(:meta_keywords).presence, 
        canonical: yield(:meta_canonical).presence, 
        noindex: yield(:meta_noindex).presence, 
        og_title: yield(:meta_og_title).presence,
        og_site_name: yield(:meta_og_site_name).presence,
        og_url: yield(:meta_og_url).presence,
        og_description: yield(:meta_og_description).presence,
        og_type: yield(:meta_og_type).presence,
        og_image: yield(:meta_og_image).presence
      ) 
    %>

    <%= render Layout::FaviconComponent.new %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/all.min.css" 
      integrity="sha256-/4UQcSmErDzPCMAiuOiWPVVsNN2s3ZY/NsmXNcj0IFc=" 
      crossorigin="anonymous"
    >

    <script>
      window.railsApp = {};
    </script>

    <%= render Layout::GoogleTagComponent.new(id: ENV.fetch("GOOGLE_TAG_ID", nil)) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body 
    id="<%= action_name %>"
    class="
      <%= controller_name %>
      signed-<%= user_signed_in? ? 'in' : 'out'  %>
      <%= Current.user&.admin? ? 'is' : 'not'  %>-admin
    "
  >

    <%= render Layout::HeaderComponent.new %>

    <%= render Layout::FlashComponent.new(flash: flash) %>

    <main class="container py-5">
      <%= yield %>
    </main>

    <%= render Layout::FooterComponent.new %>

  </body>
</html>
